#offscreen-nav ul{
  list-style-type: none;
  font-size: 2em;
  padding: 5%;
}

#offscreen-nav{
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
}

#close-btn{
  float: right;
  padding: 5px;
}

#more-info{
  color: #129d34;
}

#tooltip{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 150px;
  height: 150px;
  border: 1px solid;
  box-shadow: 2px 2px 2px 2px #aaa;
  opacity: 0;
}
